.input {
  box-sizing: border-box;
  width: 20vw;
  min-width: 200px;
  padding: 12px;
  border: 1px solid #EBEBEB;
  margin-left: 10px;
}

.input[disabled] {
  cursor: not-allowed;
}

.input[name="checkbox"],
.input[name="radio"] {
  width: 40px;
  height: 40px;
  margin-left: 20%;
}

.input.error {
  border-color: #D43728;
  background-color: rgba(212, 55, 40, 0.2);
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}

.labelsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.redTextError {
  display: flex;
  flex-direction: column;
}

.inputRequired {
  color: #777;
}

.inputRequired,
.inputLabel {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  width: 10em;
}

.inputError {
  color: #D43728;
  font-size: 12px;
  margin-left: 10px;
}
.text{
  text-decoration: underline;
}