body {
  background: linear-gradient(90deg, rgba(212,163,115,1) 5%, rgba(250,237,205,1) 52%, rgba(212,163,115,1) 95%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99%;
}